body {
    font-family: 'Arima', cursive;
    margin: 0px;
}

#section-1 {
    background: rgba(0, 0, 0, 0.7) url(donate-today-main/images/donation8.jpg);
    height: 400px;
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
}

.sec-1 {
    text-align: center;
    padding: 30px 100px;

}

#donate {
    color: white;
    font-size: 150;

}

#donate-text {
    color: white;
}

.donate-button {
    text-decoration: none;
    background-color: tomato;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

#donate-today {
    text-align: center;
    padding: 20px 70px;
}

#taka-div {
    display: flex;
    padding: 0px 20px;
    align-items: center;
    justify-content: center;

}

#tk {
    text-align: center;
    width: 130px;
    height: 100px;
    margin: 20px;
    padding-top: 60px;
    font-size: 60;
    border: 2px solid rgba(66, 66, 66, 0.596);
    background-color: rgba(153, 146, 146, 0.979);
    border-radius: 3px;

}

#tk-3 {
    text-align: center;
    width: 130px;
    height: 100px;
    margin: 20px;
    padding-top: 60px;
    font-size: 60;
    border: 2px solid rgba(230, 14, 14, 0.596);
    background-color: rgba(211, 127, 127, 0.979);
    border-radius: 3px;
}

.input-1 {
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    border-color: gray;
    color: gray;
    text-align: center;
    width: 400px;
}

#donate-form {

    margin-left: 10px;
    margin-right: 10px;
}

#form {
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    display: flex;

}

.parent {
    display: flex;

    align-items: center;
    justify-content: center;
}

#bacca-1 {
    background-color: bisque;
    margin: 10px;
    padding-top: 20px;
    padding-left: 10px;

}

#bacca-2 {
    background-color: grey;
    margin: 10px;
    padding-top: 20px;
    padding-left: 10px;


}

#bacca-3 {
    background-color: orchid;
    margin: 10px;
    padding-top: 20px;
    padding-left: 10px;

}

#sec-explain {
    display: flex;
    margin: 10%;
    align-items: center;
    justify-content: center;
}

.explanation {
    width: 40%;
    padding: 2%;
}

.explanation img {
    width: 90%;
    border: 5px solid transparent;
    border-radius: 10px;

}

#email {
    padding: 50px;
    width: 50%;
    margin: auto;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#join {
    background-color: black;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#volunteer {
    color: white;
}

#form {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

#mail {

    border: none;
    border-left: 3px solid transparent;
    border-radius: 5px 0px 0px 5px;
    color: white;
    background-color: rgb(189, 169, 169);
    width: 40%;
    height: 20px;
    padding: 5px;
}

#subscribe {
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    height: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}